body{
    background-image: url("https://cdn.cloudflare.steamstatic.com/steamcommunity/public/images/items/1272160/b3a767c82f40ab060368a341f88c9ea35e532277.webm");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}